<div class="row">
  <div class="col-md-6  col-md-offset-3">
    <div class="well">
      <p>
        <strong>Description:</strong>
        <%= @pin.description %>
      </p>
        <%= link_to 'Edit', edit_pin_path(@pin) %> |
        <%= link_to 'Back', pins_path %>
    </div>
  </div>
</div>
