
<h1>About</h1><br>

<p>
      <%= link_to("One Month Rails", "http://onemonthrails.com")%>
      is a project to teach
      <%=link_to("Ruby on Rails", "http://rubyonrails.org") %>
      in one month. This is the sample application.
</p><br><br>

<p class="blockquote">
OMR's Pinterest clone is the coolest thing ever!
</p>

