$btn-default-bg: green;
$btn-default-color: white;
$navbar-default-bg: white;
$navbar-default-border: white;
@import 'bootstrap';

body {
  padding-top: 60px;
}

// @import 'bootstrap-responsive';

.footer {
  margin-top: 50px;
  color: $gray;
  a {
      color: $gray;
  }
}

// required for jQuery Masonry

.box {
  margin: 5px;
  padding: 5px;
  font-size: 11px;
  line-height: 1.4em;
  float: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #444;
  width: 214px;
}

.box2{
   width: 300px;
}

.box img{
  display: block;
  width: 100%;
   -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.description{
  margin: 10px 0 5px;
}

.blockquote {
font-family: Georgia, serif;
font-size: 18px;
font-style: italic;
width: 500px;
margin: 0.25em 0;
padding: 0.35em 40px;
line-height: 1.45;
position: relative;
color: #383838;
}

.blockquote:before {
display: block;
padding-left: 10px;
content: "\201C";
font-size: 80px;
position: absolute;
left: -20px;
top: -20px;
color: #7a7a7a;
}

.blockquote cite {
color: #999999;
font-size: 14px;
display: block;
margin-top: 5px;
}

.blockquote cite:before {
content: "\2014 \2009";
}
