<div class="footer">
    <small>
      <!-- <a href="http://onemothrails.com">One Month Rails</a> -->
      <%= link_to("One Month Rails", "http://onemothrails.com") %>
      by Cody Hale
    </small>
  </div>
